:root {
    --Background-color: #161616;
    --Cor-primaria: #7f00ff;
    --Cor-texto-primaria: #ffffff91;
    --Cor-secundaria: #fff;
    --Cor-terciaria: #8000ff51;
    --Border-radius: 10px;
}

* {
    box-sizing: border-box;
    transition: 0.3s ease;
}

body {
    margin: 0;
    padding: 10px;
    background-color: var(--Background-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont;
    color: #ffffffc5;
}

strong {
    font-weight: bold;
    color: var(--Cor-primaria);
}

hr {
    width: 80%;
    color: var(--Cor-primaria);
    margin: 30px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: var(--Cor-primaria);
}

::selection {
    background-color: var(--Cor-primaria);
    color: #ffffff;
}

.URBX-Grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.filho {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--Border-radius);
    
}

#header img {
    width: 300px;
    height: auto;
}

#header {
  
}

#main {
    border: 2px solid var(--Cor-primaria);
    padding: 40px;
    width: 80%;
    max-width: 100%;
    justify-self: center;
}

.novoProduto {
    border: 2px solid var(--Cor-primaria);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: var(--Border-radius);
}

.novoProduto:hover {
    background-color: var(--Cor-primaria);
    cursor: pointer;
    scale: 1.05;
}

.novoProduto:hover strong {
    color: var(--Cor-texto-primaria);
}

table {
    border-color: var(--Cor-primaria);
    color: var(--Cor-texto-primaria);
}

th {
    padding: 5px 50px;
    border-color: var(--Cor-primaria);
}

td {
    text-align: center;
    padding: 5px 50px;
    border-color: var(--Cor-primaria);
}


form div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

form div input {
    padding: 7px;
    width: 30%;
    background-color: #ffffff00;
    border-radius: var(--Border-radius);
    color: var(--Cor-primaria);
    font-weight: bold;
}


form div input:focus {
    padding: 9px;
    scale: 1.01;
    font-size: 16px;
}

.acoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}

form div button {
    border: 2px solid var(--Cor-primaria);
    padding: 10px;
    width: 10%;
    justify-self: center;
    align-self: center;
    background-color:#ffffff00;
    border-radius: var(--Border-radius);
    color: var(--Cor-texto-primaria);
    cursor: pointer;
}

form div a {
    border: 2px solid var(--Cor-primaria);
    padding: 7px;
    width: 10%;
    justify-self: center;
    align-self: center;
    background-color:#ffffff00;
    border-radius: var(--Border-radius);
    color: var(--Cor-texto-primaria);
    cursor: pointer;
    text-align: center;
}

form div button:hover {
    scale: 1.1;
    background-color: var(--Cor-primaria);
}

form div button:hover strong {
    color: var(--Cor-texto-primaria);
}

form div a:hover {
    scale: 1.1;
    background-color: var(--Cor-primaria);
}

form div a:hover strong {
    color: var(--Cor-texto-primaria);
}
